@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Secular+One&family=Source+Code+Pro&display=swap');

body{
    background-image: url("img/bananas.png");
    font-family: 'Secular One', sans-serif;
    text-align: center;
    margin: 0px;
    width: 100%;
}
.clear{
    clear: both;
}
.fa{
    font-size: 13vw;
    width: 12vw;
}
.nav{
    font-size: 1.8vw;
    width: 1.8%;
}
.bigbox{
    width: 59%;
}
header{
    margin-top: 1vh;
    position: static;
    color: #030F1A;
    font-size: 4.17vw;
    font-family: 'Source Code Pro', monospace;
}
#header{
    color: #071932;
}
h1{
    font-size: 0.8vmax;
}
nav{
    color: #071932;
    margin-top: 4.6vh;
    position: static;
}
main{
    width: 100%;
}
a:link{
    color: #010E11;
}
a:visited{
    color: #010E11;    
}
a:hover{
    color: #000506;
}
a:active{
    color: #021B22;
}
section{
    float: left;
    width: 26%;
    margin-left: 3.64%;
    margin-right: 3.64%;
    font-size: 30px;
}
.nav{
    font-size: 35px;
    width: 35px;
}
article{
    background-image: url("img/arches.png");
    margin: 3.125%;
    margin-top: 20px;
    height: 26vw;
    width: 26%;
    float: left;
    border-radius: 30px;
    border-width: 0.5%;
    border-color: #082540;
    border-style: solid;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #356371;
    padding: 30px 0 30px;
    background-image: url("img/nami.png");
}
