@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body{
    background-image: url("img/bananas.png");
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
}
header{
    position: static;
    color: #000000;
    padding: 100px 0px 0px;
    font-size: 70px;
}
h1{
    padding: 0px 0px;
    font-size: 15px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 30px 0 30px;
    background-image: url("img/inflicted.png");
}